{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "version-inline",
    "transform-flow-strip-types"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
