dist/*
dist-esm/*
dist-es6/*
**/dist/*

node_modules/
coverage/
.nyc_output/

npm-debug.log
*/**/yarn.lock
yarn-error.log

website/dist/
website/node_modules/
website/yarn-errror.log

# editor files
.project
.DS_Store
.idea
*.zip
*.rar
