language: node_js
os: linux
node_js:
  - 12
install:
  - yarn && yarn bootstrap
before_script:
  - "curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install.sh | sudo bash"
script:
  - yarn test-ci
  - if [[ -n $FOSSA_API_KEY ]]; then fossa; fi
after_success:
  - cat coverage/lcov.info | coveralls
